.ItemCountry {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: background-color 0.1s;
  padding: 3px 10px;
  cursor: pointer;
}

.ItemCountry:hover {
  background-color: #DBDFFF;
}

.ItemCountry.selected {
  background: #75aaf1;
  color: #fff;
}

.ItemCountry-code {
  width: 18px;
  height: 18px;
  padding: 3px;
  background-color: #6F7EFF;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 8px;
}

.ItemCountry-title {
  width: 100%;
  padding: 3px 5px;
  font-size: 14px;
}

.ItemCountry-title a {
  color: #000;
  text-decoration: none;
}

