.ModalCount-inputWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 50px;
  gap: 25px;
}
.ModalCount-input{
  width: 50px;
  padding: 5px 10px;
  margin: 0 auto;
}


.ModalCount-input:focus{
  border-color: #007bff;
  outline: none;
}

.ModalCount-footer {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
}


