.ListCountry {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  max-height: 300px;
  box-sizing:border-box;
  background-color: white;
  transition: all .3s;

}

.ListCountry-item {
  border-bottom: 1px dashed #ccc;
}


.ListCountry::-webkit-scrollbar {
  width: 5px;
  height: 30px;
}

.ListCountry::-webkit-scrollbar-thumb {
  background: #b5c7fd;
  border-radius: 5px;
}
