.SelectCountry {
  box-sizing: border-box;
  position: relative;
  max-width: 240px;
  height: 40px;
  margin: 0 auto;
}



.SelectCountry-title {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 2px 5px;
  border-radius: 1px;
  border: solid .1px #c7ccd1;
  cursor: pointer;
}


.SelectCountry-title::before, .SelectCountry-title::after {
  content: "";

    position: absolute;
    top: 50%;
    right: 16px;
    display: block;
    width: 10px;
    height: 2px;

    transition: all 0.3s ease-out;

    background-color: #333333;

    transform: translate(-3px, -50%) rotate(45deg);
}

.SelectCountry-title::after {
  transform: translate(3px, -50%) rotate(-45deg);
}

.SelectCountry[data-state=active] .SelectCountry-title::before  {
  transform: translate(-3px, -50%) rotate(-45deg);
}

.SelectCountry[data-state=active] .SelectCountry-title::after  {
  transform: translate(-3px, -50%) rotate(45deg);
}


.SelectCountry-input {
  display: none
}

.SelectCountry-code {
  padding: 1px 2px;
  color: red;
  background-color: #6F7EFF;
  width: 18px;
  height: 18px;
}

.SelectCountry-wrapper_out {
  /* display: flex;
  flex-direction: column;
  text-align: left;
  gap: 18px;
  margin-bottom: 5px;
  line-height: 1.2; */
  position: absolute;
  top: 40px;
  left: 3px;

  display: flex;
  flex-direction: column;
  width: calc(100% - 6px);

  background-color: #ffffff;

  border: 1px solid #c7ccd1;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  
  transition: all 0.3s ease-out;

  opacity: 0;
  z-index: 8;
}

.SelectCountry-wrapper_out ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 18px;
  align-items: flex-start;
  font-size: 20px;
}

ul li {
  color: gray;
  display: block;
  position: relative;
}

ul li label {
  display: block;
  position: relative;
  font-weight: 500;
  padding-left: 30px;
  z-index: 9;
  cursor: pointer;
  transition: all .25s linear;

  -webkit-transition: all 0.25s linear;
}

ul li:hover label {
  color: #000000;
  background-color: red;
}