


.SelectCountry {
  box-sizing: border-box;
  position: relative;
  width: 180px;
  height: 22px;

  
}

.SelectCountry-title {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  /* padding: 2px 0px; */
  border-radius: 1px;
  border: solid .1px black;
  cursor: pointer;
  overflow: hidden;
  padding-left: 2px;
}


.SelectCountry-title::before {
  content: "";

    position: absolute;
    top: 50%;
    right: 16px;
    display: block;
    width: 6px;
    height: 2px;

    transition: all 0.3s ease-out;

    background-color: #333333;

    transform: translate(-2px, -50%) rotate(45deg);
}

.SelectCountry-title::after {
  content: "";

  position: absolute;
  top: 50%;
  right: 16px;
  display: block;
  width: 6px;
  height: 2px;

  transition: all 0.3s ease-out;

  background-color: #333333;

  transform: translate(2px, -50%) rotate(-45deg);
}

.SelectCountry[data-state=active] .SelectCountry-title::before  {
  transform: translate(-2px, -50%) rotate(-45deg);
}

.SelectCountry[data-state=active] .SelectCountry-title::after  {
  transform: translate(2px, -50%) rotate(45deg);
}


.SelectCountry-input {
  display: none;
}



.SelectCountry-wrapper_out {
  /* display: flex;
  flex-direction: column;
  text-align: left;
  gap: 18px;
  margin-bottom: 5px;
  line-height: 1.2; */
  position: absolute;
  top: 25px;
  left: 0px;

  display: flex;
  flex-direction: column;
  width: calc(100% - 1px);

  background-color: #ffffff;
  box-shadow: 0px 1px 10px 1px gray;

  
  transition: all 0.3s ease-out;

  opacity: 0;
  z-index: 8;
}

.SelectCountry-wrapper_out ul {
  max-height: 300px;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1px;
  align-items: flex-start;
  font-size: 20px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.SelectCountry-wrapper_out ul li {
  width: 100%;
  color: black;
  display: block;
  position: relative;
}

.SelectCountry-wrapper_out ul li label {
  display: block;
  position: relative;
  font-weight: 400;
  font-size: 15px;
  line-height: 17px;
  padding: 3px 0px 3px 5px;
  z-index: 9;
  cursor: pointer;
  transition: all .25s linear;
  -webkit-transition: all 0.25s linear;
}

.SelectCountry-wrapper_out ul li:hover label {
  background-color: #DBDFFF;
}

.SelectCountry-code {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  width: 18px;
  height: 18px;
  font-size: 8px;
  color: white;
  background-color: #6F7EFF;
  border-radius: 3px;
}

.SelectCountry-name {
  vertical-align: middle;
  padding-left: 2px;
}

.SelectCountry-search {
  border: none;
  height: 30px;
  font-style: italic;
}

.SelectCountry-search:focus {

}

.SelectCountry[data-state=active] .SelectCountry-wrapper_out {
  opacity: 1;
}